/target
/scratch
**/*.rs.bk
history.txt
tests/fixtures/rsplayground
crates/*/target

# Debian/Ubuntu
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/rs.substvars
debian/rs/

# macOS junk
.DS_Store

# JetBrains' IDE items
.idea/*

# VSCode's IDE items
.vscode/*
