/target
/scratch
**/*.rs.bk
history.txt
tests/fixtures/rshplayground
crates/*/target

# Debian/Ubuntu
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/rsh.substvars
debian/rsh/

# macOS junk
.DS_Store

# JetBrains' IDE items
.idea/*

# VSCode's IDE items
.vscode/*
